<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" name="viewport" />
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="black" name="apple-mobile-web-app-status-bar-style" />
    <meta content="telephone=no" name="format-detection" />
    <!-- 引入YDUI样式 -->
    <link rel="stylesheet" href="../assets/css/ydui.css" />
    <link rel="stylesheet" href="../assets/css/base.css" />
    <!-- 引入YDUI自适应解决方案类库 -->
    <script src="../assets/js/ydui.flexible.js"></script>
    <title>ATGS</title>
</head>

<body>

    <section class="g-flexview">

        <!-- 公用头部 -->
        <header class="m-navbar">
            <a href="#" class="navbar-item"><i class="back-ico"></i></a>
            <div class="navbar-center">
                <span class="navbar-title">填写基本资料</span>
            </div>
        </header>

        <!-- 视图 -->
        <div class="g-scrollview">
            <!-- 个人信息 -->
            <div class="base-flexbox base-padding-lr base-padding-top80">
                <div class="base-flexbox-item">
                    <input class="basicData-input" type="text" placeholder="点击输入名字">
                    <div class="base-flexbox base-margin-top20">
                        <p class="base-font-size30">性别：</p>
                        <a href="javascript:;" class="btn btn-warning">男</a>
                        <a href="javascript:;" class="btn btn-hollow base-margin-left30">女</a>
                    </div>
                </div>
                <div class="base-img base-img-160">
                    <img class="radius" src="../assets/img/item-img.jpg">
                </div>
            </div>

            <!-- 列表 -->
            <div class="m-cell">
                <div class="cell-item">
                    <div class="cell-left">生日：</div>
                    <div class="cell-right"><input type="date" class="cell-input"/></div>
                </div>
                <div class="cell-item">
                    <div class="cell-left">体重：</div>
                    <div class="cell-right"><input type="text" class="cell-input" placeholder="体重(Kg)"/></div>
                </div>
                <div class="cell-item">
                    <div class="cell-left">个性签名：</div>
                    <div class="cell-right"><input type="text" class="cell-input" placeholder="爱吃啥，有啥特点…"/></div>
                </div>
                <div class="cell-item">
                    <div class="cell-left">是否绝育：</div>
                    <div class="cell-right base-flexbox-content">
                        <a href="javascript:;" class="btn btn-warning">已绝育</a>
                        <a href="javascript:;" class="btn btn-hollow base-margin-left30">未绝育</a>
                    </div>
                </div>
                <div class="m-celltitle">我的简介(选填)</div>
                <div class="m-cell">
                    <div class="cell-item">
                        <div class="cell-right">
                            <textarea class="cell-textarea" placeholder="填写简介信息"></textarea>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="base-margin30">
            <button class="btn-block btn-warning radius88">完成注册</button>
            <p class="base-margin-top20 base-font-size24 base-text-center">虚假身份，广告，侮辱性的公社卡将会被删除</p>
        </div>

    </section>

    <!-- ================================================================================== -->
    <!-- 引入jQuery 2.0+ -->
    <script src="../assets/js/jquery-2.1.4.min.js"></script>
    <!-- 引入YDUI脚本 -->
    <script src="../assets/js/ydui.js"></script>
    <!-- 自定义JS -->
</body>

</html>