<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" name="viewport" />
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="black" name="apple-mobile-web-app-status-bar-style" />
    <meta content="telephone=no" name="format-detection" />
    <!-- 引入YDUI样式 -->
    <link rel="stylesheet" href="../assets/css/ydui.css" />
    <link rel="stylesheet" href="../assets/css/base.css" />
    <!-- 引入YDUI自适应解决方案类库 -->
    <script src="../assets/js/ydui.flexible.js"></script>
    <title>ATGS</title>
</head>

<body>

    <section class="g-flexview">

        <!-- 公用头部 -->
        <header class="m-navbar">
            <a href="#" class="navbar-item"><i class="back-ico"></i></a>
            <div class="navbar-center">
                <span class="navbar-title">表情秀</span>
            </div>
        </header>

        <!-- 视图 -->
        <div class="g-scrollview">
            <div class="brow-img">
                <img class="brow-img-badge" src="../assets/img/pet1.png">
            </div>

            <div class="m-grids-3 base-margin-bottom20">
                <a href="#" class="grids-item">
                    <div class="grids-txt"><span>上传照片</span></div>
                </a>
                <a href="#" class="grids-item">
                    <div class="grids-txt"><span>下载表情</span></div>
                </a>
                <a href="#" class="grids-item">
                    <div class="grids-txt"><span>发布</span></div>
                </a>
            </div>

            <div class="m-cell">
                <div class="cell-item">
                    <div class="cell-right"><input type="text" class="cell-input" placeholder="添加一句描述" /></div>
                </div>
            </div>

            <div class="base-flexbox base-flexbox-column base-padding30">
                <div class="base-flexbox base-flexbox-between">
                    <h2 class="base-font-size30">选择表情</h2>
                </div>
                <div class="base-flexbox base-margin-top50">
                    <div class="base-flexbox-item">
                        <a href="#">
                            <div class="browshow-img-box-active">
                                <div class="base-img base-img-60 browshow-img">
                                    <img src="../assets/img/nav.jpg">
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="base-flexbox-item">
                        <a href="#">
                            <div class="browshow-img-box">
                                <div class="base-img base-img-60 browshow-img">
                                    <img src="../assets/img/nav.jpg">
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="base-flexbox-item">
                        <a href="#">
                            <div class="browshow-img-box">
                                <div class="base-img base-img-60 browshow-img">
                                    <img src="../assets/img/nav.jpg">
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="base-flexbox-item">
                        <a href="#">
                            <div class="browshow-img-box">
                                <div class="base-img base-img-60 browshow-img">
                                    <img src="../assets/img/nav.jpg">
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>


        </div>

        <!-- 公用底部 -->
        <footer class="m-tabbar">
            <a href="index.html" class="tabbar-item">
                <span class="tabbar-icon">
                    <img src="../assets/img/tab-home-default.png">
                </span>
                <span class="tabbar-txt">首页</span>
            </a>
            <a href="user.html" class="tabbar-item">
                <span class="tabbar-icon">
                    <img src="../assets/img/tab-mine-default.png">
                </span>
                <span class="tabbar-txt">我的</span>
            </a>
        </footer>

    </section>

    <!-- ================================================================================== -->
    <!-- 引入jQuery 2.0+ -->
    <script src="../assets/js/jquery-2.1.4.min.js"></script>
    <!-- 引入YDUI脚本 -->
    <script src="../assets/js/ydui.js"></script>
    <!-- 自定义JS -->
    <script>
        var $tab = $('#J_Tab');

        $tab.tab({
            nav: '.tab-nav-item',
            panel: '.tab-panel-item',
            activeClass: 'tab-active'
        });

        $tab.find('.tab-nav-item').on('open.ydui.tab', function (e) {
            console.log('索引：%s - [%s]正在打开', e.index, $(this).text());
        });

        $tab.find('.tab-nav-item').on('opened.ydui.tab', function (e) {
            console.log('索引：%s - [%s]已经打开了', e.index, $(this).text());
        });
    </script>
    
</body>

</html>