<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" name="viewport" />
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="black" name="apple-mobile-web-app-status-bar-style" />
    <meta content="telephone=no" name="format-detection" />
    <!-- 引入YDUI样式 -->
    <link rel="stylesheet" href="../assets/css/ydui.css" />
    <link rel="stylesheet" href="../assets/css/base.css" />
    <!-- 引入YDUI自适应解决方案类库 -->
    <script src="../assets/js/ydui.flexible.js"></script>
    <title>ATGS</title>
</head>

<body>

    <section class="g-flexview">

        <!-- 公用头部 -->
        <header class="m-navbar">
            <a href="#" class="navbar-item">
                <i class="back-ico"></i>
            </a>
            <div class="navbar-center">
                <span class="navbar-title">系统通知</span>
            </div>
        </header>

        <!-- 视图 -->
        <div class="g-scrollview">
            <!-- 列表 -->
            <div class="base-margin30">
                <div class="base-flexbox radius12 base-padding20 base-margin-top20">
                    <div class="base-img base-img-110 base-margin-right12">
                        <img class="radius" src="../assets/img/nav.jpg">
                    </div>
                    <div class="base-flexbox-item">
                        <h2 class="base-font-size30">火锅</h2>
                        <div class="base-margin-top20 base-flexbox">
                            <span class="badge badge-danger base-margin-right12">
                                未绝育
                            </span>
                            <span class="base-font-size26">0.14岁 摩羯座</span>
                        </div>
                    </div>
                    <div>
                        <span class="badge badge-warning base-margin-top60">
                            公社卡号：750181
                        </span>
                    </div>
                </div>
                <div class="base-flexbox radius12 base-padding20 base-margin-top20">
                    <div class="base-img base-img-110 base-margin-right12">
                        <img class="radius" src="../assets/img/nav.jpg">
                    </div>
                    <div class="base-flexbox-item">
                        <h2 class="base-font-size30">火锅</h2>
                        <div class="base-margin-top20 base-flexbox">
                            <span class="badge badge-danger base-margin-right12">
                                未绝育
                            </span>
                            <span class="base-font-size26">0.14岁 摩羯座</span>
                        </div>
                    </div>
                    <div>
                        <span class="badge badge-warning base-margin-top60">
                            公社卡号：750181
                        </span>
                    </div>
                </div>
                <div class="base-flexbox radius12 base-padding20 base-margin-top20">
                    <div class="base-img base-img-110 base-margin-right12">
                        <img class="radius" src="../assets/img/nav.jpg">
                    </div>
                    <div class="base-flexbox-item">
                        <h2 class="base-font-size30">火锅</h2>
                        <div class="base-margin-top20 base-flexbox">
                            <span class="badge badge-danger base-margin-right12">
                                未绝育
                            </span>
                            <span class="base-font-size26">0.14岁 摩羯座</span>
                        </div>
                    </div>
                    <div>
                        <span class="badge badge-warning base-margin-top60">
                            公社卡号：750181
                        </span>
                    </div>
                </div>
                <div class="base-flexbox radius12 base-padding20 base-margin-top20">
                    <div class="base-img base-img-110 base-margin-right12">
                        <img class="radius" src="../assets/img/nav.jpg">
                    </div>
                    <div class="base-flexbox-item">
                        <h2 class="base-font-size30">火锅</h2>
                        <div class="base-margin-top20 base-flexbox">
                            <span class="badge badge-danger base-margin-right12">
                                未绝育
                            </span>
                            <span class="base-font-size26">0.14岁 摩羯座</span>
                        </div>
                    </div>
                    <div>
                        <span class="badge badge-warning base-margin-top60">
                            公社卡号：750181
                        </span>
                    </div>
                </div>
                <div class="base-flexbox radius12 base-padding20 base-margin-top20">
                    <div class="base-img base-img-110 base-margin-right12">
                        <img class="radius" src="../assets/img/nav.jpg">
                    </div>
                    <div class="base-flexbox-item">
                        <h2 class="base-font-size30">火锅</h2>
                        <div class="base-margin-top20 base-flexbox">
                            <span class="badge badge-danger base-margin-right12">
                                未绝育
                            </span>
                            <span class="base-font-size26">0.14岁 摩羯座</span>
                        </div>
                    </div>
                    <div>
                        <span class="badge badge-warning base-margin-top60">
                            公社卡号：750181
                        </span>
                    </div>
                </div>
                <div class="base-flexbox radius12 base-padding20 base-margin-top20">
                    <div class="base-img base-img-110 base-margin-right12">
                        <img class="radius" src="../assets/img/nav.jpg">
                    </div>
                    <div class="base-flexbox-item">
                        <h2 class="base-font-size30">火锅</h2>
                        <div class="base-margin-top20 base-flexbox">
                            <span class="badge badge-danger base-margin-right12">
                                未绝育
                            </span>
                            <span class="base-font-size26">0.14岁 摩羯座</span>
                        </div>
                    </div>
                    <div>
                        <span class="badge badge-warning base-margin-top60">
                            公社卡号：750181
                        </span>
                    </div>
                </div>
            </div>

        </div>

    </section>

    <!-- ================================================================================== -->
    <!-- 引入jQuery 2.0+ -->
    <script src="../assets/js/jquery-2.1.4.min.js"></script>
    <!-- 引入YDUI脚本 -->
    <script src="../assets/js/ydui.js"></script>
    <!-- 自定义JS -->
</body>

</html>