<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" name="viewport" />
	<meta content="yes" name="apple-mobile-web-app-capable" />
	<meta content="black" name="apple-mobile-web-app-status-bar-style" />
	<meta content="telephone=no" name="format-detection" />
	<!-- 引入YDUI样式 -->
	<link rel="stylesheet" href="../assets/css/ydui.css" />
	<link rel="stylesheet" href="../assets/css/base.css" />
	<!-- 引入YDUI自适应解决方案类库 -->
	<script src="../assets/js/ydui.flexible.js"></script>
	<title>ATGS</title>
</head>

<body>
	<section class="g-flexview">

		<header class="m-navbar">
			<a href="#" class="navbar-item">
				<i class="back-ico"></i>
			</a>
			<div class="navbar-center">
				<span class="navbar-title">奶油表情秀</span>
			</div>
		</header>

		<div class="g-scrollview">
			<!-- 展示图片 -->
			<div class="base-bg100 base-bg-bgreen">
				<div class="base-img base-img-400 imgShow-img">
					<img src="../assets/img/item-img.jpg">
				</div>
				<p class="base-font-size32 base-absolute-lb30 base-text-ellipsis2 base-padding-rigth30">我家Raby最可爱，你们觉着呢~</p>
			</div>

		</div>

		<!-- 评论 -->
		<div class="base-flexbox base-flexbox-column">
			<div class="base-flexbox base-bg-black">
				<div class="base-flexbox imgShow-bg">
					<div class="base-img base-img-88">
						<img src="../assets/img/home-like4.png">
					</div>
					<p class="base-font-size24 base-text-white">15人喜欢了这张写真</p>
				</div>
				<div class="base-flexbox base-flexbox-item base-bg-black">
					<div class="base-flex-item text-center">
						<p class="base-img base-img-88">
							<img src="../assets/img/home-like4.png">
						</p>
					</div>
					<div class="base-flex-item text-center">
						<p class="base-img base-img-88">
							<img src="../assets/img/home-comment1.png">
						</p>
					</div>
					<div class="base-flex-item text-center">
						<p class="base-img base-img-88">
							<img src="../assets/img/commune2.png">
						</p>
					</div>
				</div>
			</div>
		</div>

	</section>
</body>

</html>