<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" name="viewport" />
	<meta content="yes" name="apple-mobile-web-app-capable" />
	<meta content="black" name="apple-mobile-web-app-status-bar-style" />
	<meta content="telephone=no" name="format-detection" />
	<!-- 引入YDUI样式 -->
	<link rel="stylesheet" href="../assets/css/ydui.css" />
	<link rel="stylesheet" href="../assets/css/base.css" />
	<!-- 引入YDUI自适应解决方案类库 -->
	<script src="../assets/js/ydui.flexible.js"></script>
	<title>ATGS</title>
</head>

<body>
	<section class="g-flexview">

		<header class="m-navbar">
			<a href="#" class="navbar-item">
				<i class="back-ico"></i>
			</a>
			<div class="navbar-center">
				<span class="navbar-title">奶油表情秀</span>
			</div>
		</header>

		<div class="g-scrollview">

			<!-- 展示图片 -->
			<div class="base-img base-img-400 base-width-screen">
				<img src="../assets/img/item-img.jpg">
			</div>

			<!-- 评论标题 -->
			<div class="m-cell base-margin-bottom0">
				<div class="cell-item">
					<div class="cell-left">
						评论
						<span class="base-font-size26">(4567条)</span>
					</div>
					<div class="cell-right">
						<i class="icon-error-outline"></i>
					</div>
				</div>
			</div>

			<!-- 评论列表 -->
			<div class="m-cell base-margin-bottom0">
				<div class="cell-item base-padding30">
					<a class="base-flexbox" href="#">
						<div class="cell-left base-flexbox-item">
							<div class="base-img base-img-110 base-margin-right12 base-flexbox-align">
								<img class="radius" src="../assets/img/nav.jpg">
							</div>
							<div class="base-margin-right12 base-width460">
								<h2 class="base-font-size26">我是一只年糕</h2>
								<p class="base-text-ellipsis base-margin-top20">方便回复一下私信吗？</p>
								<p class="base-font-size26 base-margin-top20">昨天 19：24</p>
							</div>
						</div>
						<div class="base-text-center base-padding-right0">
							<i class="icon-good base-text-red base-font-size44"></i>
							<p class="base-font-size26">999</p>
						</div>
					</a>
				</div>
				<div class="cell-item base-padding30">
					<a class="base-flexbox" href="#">
						<div class="cell-left base-flexbox-item">
							<div class="base-img base-img-110 base-margin-right12 base-flexbox-align">
								<img class="radius" src="../assets/img/nav.jpg">
							</div>
							<div class="base-margin-right12 base-width460">
								<h2 class="base-font-size26">我是一只年糕</h2>
								<p class="base-text-ellipsis base-margin-top20">方便回复一下私信吗？</p>
								<p class="base-font-size26 base-margin-top20">昨天 19：24</p>
							</div>
						</div>
						<div class="base-text-center base-padding-right0">
							<i class="icon-good base-text-red base-font-size44"></i>
							<p class="base-font-size26">999</p>
						</div>
					</a>
				</div>
				<div class="cell-item base-padding30">
					<a class="base-flexbox" href="#">
						<div class="cell-left base-flexbox-item">
							<div class="base-img base-img-110 base-margin-right12 base-flexbox-align">
								<img class="radius" src="../assets/img/nav.jpg">
							</div>
							<div class="base-margin-right12 base-width460">
								<h2 class="base-font-size26">我是一只年糕</h2>
								<p class="base-text-ellipsis base-margin-top20">方便回复一下私信吗？</p>
								<p class="base-font-size26 base-margin-top20">昨天 19：24</p>
							</div>
						</div>
						<div class="base-text-center base-padding-right0">
							<i class="icon-good base-text-red base-font-size44"></i>
							<p class="base-font-size26">999</p>
						</div>
					</a>
				</div>
				<div class="cell-item base-padding30">
					<a class="base-flexbox" href="#">
						<div class="cell-left base-flexbox-item">
							<div class="base-img base-img-110 base-margin-right12 base-flexbox-align">
								<img class="radius" src="../assets/img/nav.jpg">
							</div>
							<div class="base-margin-right12 base-width460">
								<h2 class="base-font-size26">我是一只年糕</h2>
								<p class="base-text-ellipsis base-margin-top20">方便回复一下私信吗？</p>
								<p class="base-font-size26 base-margin-top20">昨天 19：24</p>
							</div>
						</div>
						<div class="base-text-center base-padding-right0">
							<i class="icon-good base-text-red base-font-size44"></i>
							<p class="base-font-size26">999</p>
						</div>
					</a>
				</div>
				<div class="cell-item base-padding30">
					<a class="base-flexbox" href="#">
						<div class="cell-left base-flexbox-item">
							<div class="base-img base-img-110 base-margin-right12 base-flexbox-align">
								<img class="radius" src="../assets/img/nav.jpg">
							</div>
							<div class="base-margin-right12 base-width460">
								<h2 class="base-font-size26">我是一只年糕</h2>
								<p class="base-text-ellipsis base-margin-top20">方便回复一下私信吗？</p>
								<p class="base-font-size26 base-margin-top20">昨天 19：24</p>
							</div>
						</div>
						<div class="base-text-center base-padding-right0">
							<i class="icon-good base-text-red base-font-size44"></i>
							<p class="base-font-size26">999</p>
						</div>
					</a>
				</div>
			</div>

		</div>

		<!-- 评论 -->
		<div class="base-flexbox base-flexbox-column">
			<div class="base-flexbox base-flexbox-between base-padding30 base-bg-f2">
				<input type="text" class="base-input" placeholder="有爱评论的，说点好听的">
				<button class="btn btn-hollow base-text-yellow lookShow-bg">发送</button>
			</div>
			<div class="base-flexbox base-bg-f2">
				<div class="base-flexbox lookShow-bg-f2">
					<div class="base-img base-img-88">
						<img src="../assets/img/home-like4.png">
					</div>
					<p class="base-font-size24">15人喜欢了这张写真</p>
				</div>
				<div class="base-flexbox base-flexbox-item base-bg-f2">
					<div class="base-flex-item text-center">
						<p class="base-img base-img-88">
							<img src="../assets/img/home-like4.png">
						</p>
					</div>
					<div class="base-flex-item text-center">
						<p class="base-img base-img-88">
							<img src="../assets/img/home-comment1.png">
						</p>
					</div>
					<div class="base-flex-item text-center">
						<p class="base-img base-img-88">
							<img src="../assets/img/commune2.png">
						</p>
					</div>
				</div>
			</div>
		</div>

	</section>
</body>

</html>