<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" name="viewport" />
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="black" name="apple-mobile-web-app-status-bar-style" />
    <meta content="telephone=no" name="format-detection" />
    <!-- 引入YDUI样式 -->
    <link rel="stylesheet" href="../assets/css/ydui.css" />
    <link rel="stylesheet" href="../assets/css/base.css" />
    <!-- 引入YDUI自适应解决方案类库 -->
    <script src="../assets/js/ydui.flexible.js"></script>
    <title>ATGS</title>
</head>

<body>

    <section class="g-flexview">

        <!-- 公用头部 -->
        <header class="m-navbar">
            <a href="#" class="navbar-item"><i class="back-ico"></i></a>
            <div class="navbar-center">
                <span class="navbar-title">系统通知</span>
            </div>
        </header>

        <!-- 视图 -->
        <div class="g-scrollview">
			<!-- 列表 -->
			<div class="m-cell base-margin-bottom0">
                <div class="cell-item base-padding30">
                    <a class="base-flexbox" href="#">
                        <div class="cell-left base-white-normal base-width-screen">
                            <div class="base-img base-img-88 base-margin-right12 base-flexbox-align">
                                <img class="radius" src="../assets/img/nav.jpg">
                            </div>
                            <div class="base-flexbox-item">
                                <div class="base-flexbox base-flexbox-between">
                                    <p class="base-font-size30">蓝莓</p>
                                    <span class="base-font-size26">2018-03-12 19:59:30</span>
                                </div>
                                <p class="base-text-ellipsis4 base-margin-top20">啊啊啊啊啊啊啊</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="cell-item base-padding30">
                    <a class="base-flexbox" href="#">
                        <div class="cell-left base-white-normal">
                            <div class="base-img base-img-88 base-margin-right12 base-flexbox-align">
                                <img class="radius" src="../assets/img/nav.jpg">
                            </div>
                            <div class="base-flexbox-item">
                                <div class="base-flexbox base-flexbox-between">
                                    <p class="base-font-size30">蓝莓</p>
                                    <span class="base-font-size26">2018-03-12 19:59:30</span>
                                </div>
                                <p class="base-text-ellipsis4 base-margin-top20">英国短毛猫英国短毛猫英国短毛猫英国短毛猫英国短毛猫英国短毛猫英国短毛猫英国短毛猫英国短毛猫英国短毛猫英国短毛猫英国短毛猫英国短毛猫英国短毛猫英国短毛猫英国短毛猫英国短毛猫英国短毛猫英国短毛猫英国短毛猫英国短毛猫</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="cell-item base-padding30">
                    <a class="base-flexbox" href="#">
                        <div class="cell-left base-white-normal">
                            <div class="base-img base-img-88 base-margin-right12 base-flexbox-align">
                                <img class="radius" src="../assets/img/nav.jpg">
                            </div>
                            <div class="base-flexbox-item">
                                <div class="base-flexbox base-flexbox-between">
                                    <p class="base-font-size30">蓝莓</p>
                                    <span class="base-font-size26">2018-03-12 19:59:30</span>
                                </div>
                                <p class="base-text-ellipsis4 base-margin-top20">英国短毛猫英国短毛猫英国短毛猫英国短毛猫英国短毛猫英国短毛猫英国短毛猫英国短毛猫英国短毛猫英国短毛猫英国短毛猫英国短毛猫英国短毛猫英国短毛猫英国短毛猫英国短毛猫英国短毛猫英国短毛猫英国短毛猫英国短毛猫英国短毛猫</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="cell-item base-padding30">
                    <a class="base-flexbox" href="#">
                        <div class="cell-left base-white-normal">
                            <div class="base-img base-img-88 base-margin-right12 base-flexbox-align">
                                <img class="radius" src="../assets/img/nav.jpg">
                            </div>
                            <div class="base-flexbox-item">
                                <div class="base-flexbox base-flexbox-between">
                                    <p class="base-font-size30">蓝莓</p>
                                    <span class="base-font-size26">2018-03-12 19:59:30</span>
                                </div>
                                <p class="base-text-ellipsis4 base-margin-top20">英国短毛猫英国短毛猫英国短毛猫英国短毛猫英国短毛猫英国短毛猫英国短毛猫英国短毛猫英国短毛猫英国短毛猫英国短毛猫英国短毛猫英国短毛猫英国短毛猫英国短毛猫英国短毛猫英国短毛猫英国短毛猫英国短毛猫英国短毛猫英国短毛猫</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="cell-item base-padding30">
                    <a class="base-flexbox" href="#">
                        <div class="cell-left base-white-normal">
                            <div class="base-img base-img-88 base-margin-right12 base-flexbox-align">
                                <img class="radius" src="../assets/img/nav.jpg">
                            </div>
                            <div class="base-flexbox-item">
                                <div class="base-flexbox base-flexbox-between">
                                    <p class="base-font-size30">蓝莓</p>
                                    <span class="base-font-size26">2018-03-12 19:59:30</span>
                                </div>
                                <p class="base-text-ellipsis4 base-margin-top20">英国短毛猫英国短毛猫英国短毛猫英国短毛猫英国短毛猫英国短毛猫英国短毛猫英国短毛猫英国短毛猫英国短毛猫英国短毛猫英国短毛猫英国短毛猫英国短毛猫英国短毛猫英国短毛猫英国短毛猫英国短毛猫英国短毛猫英国短毛猫英国短毛猫</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

		</div>
		
    </section>

    <!-- ================================================================================== -->
    <!-- 引入jQuery 2.0+ -->
    <script src="../assets/js/jquery-2.1.4.min.js"></script>
    <!-- 引入YDUI脚本 -->
    <script src="../assets/js/ydui.js"></script>
    <!-- 自定义JS -->
</body>

</html>