<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" name="viewport" />
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="black" name="apple-mobile-web-app-status-bar-style" />
    <meta content="telephone=no" name="format-detection" />
    <!-- 引入YDUI样式 -->
    <link rel="stylesheet" href="../assets/css/ydui.css" />
    <link rel="stylesheet" href="../assets/css/base.css" />
    <!-- 引入YDUI自适应解决方案类库 -->
    <script src="../assets/js/ydui.flexible.js"></script>
    <title>ATGS</title>
</head>

<body>

    <section class="g-flexview">

        <!-- 公用头部 -->
        <div class="show-header">
            <div class="base-flexbox base-bg-transparent">
                <div class="base-img base-img-80 base-margin-right12">
                    <img class="radius" src="../assets/img/home-return1.png">
                </div>
                <div class="show-header-user">
                    <div class="base-img base-img-80 base-margin-right12">
                        <img class="radius" src="../assets/img/nav.jpg">
                    </div>
                    <div>
                        <p class="show-title">猫队长</p>
                    </div>
                    <img class="show-header-img" src="../assets/img/pet1.png">
                </div>
                <div class="base-flexbox-item">
                    <button class="show-header-btn">+ 关注</button>
                </div>
                <div class="base-flexbox-item">
                    <div class="base-text-center">
                        <p class="base-font-size24 other-flex">
                            <img class="other-flex-img" src="../assets/img/pet2.png">
                            890
                        </p>
                        <p class="base-font-size24">被喜欢数</p>
                    </div>
                </div>
                <div class="base-flexbox-item">
                    <div class="base-text-center">
                        <p class="base-font-size24 other-flex">
                            <img class="other-flex-img" src="../assets/img/pet3.png">
                            265
                        </p>
                        <p class="base-font-size24">被关注数</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="base-flexbox base-padding30 base-bg-yellow">
            <div class="base-flexbox-item">
                <p class="base-font-size30">干爹干妈</p>
            </div>
            <div class="show-head">
                <div class="base-img base-img-80">
                    <img class="radius" src="../assets/img/nav.jpg">
                </div>
                <div class="base-img base-img-80">
                    <img class="radius" src="../assets/img/nav.jpg">
                </div>
                <div class="base-img base-img-80">
                    <img class="radius" src="../assets/img/nav.jpg">
                </div>
                <div class="base-img base-img-80">
                    <img class="radius" src="../assets/img/nav.jpg">
                </div>
                <div class="base-img base-img-80">
                    <img class="radius" src="../assets/img/nav.jpg">
                </div>
                <div class="base-img base-img-80">
                    <img class="radius" src="../assets/img/nav.jpg">
                </div>
            </div>
        </div>

        <!-- 视图 -->
        <div class="g-scrollview">
            <!-- 选项卡 -->
            <div id="J_Tab" class="m-tab">
                <ul class="tab-nav">
                    <li class="tab-nav-item tab-active"><a href="javascript:;">喂养的宝贝们</a></li>
                    <li class="tab-nav-item"><a href="javascript:;">喜欢的宝贝们</a></li>
                </ul>
                <div class="tab-panel">
                    <div class="tab-panel-item tab-active">
                        <div class="base-flexbox base-flexbox-wrap">
                            <div class="base-img base-img-220">
                                <img src="../assets/img/item-img.jpg" >
                                <p class="base-badge-text">
                                    <i class="icon-like-outline"></i>
                                    2086
                                </p>
                            </div>
                            <div class="base-img base-img-220">
                                <img src="../assets/img/item-img.jpg" >
                                <p class="base-badge-text">
                                    <i class="icon-like-outline"></i>
                                    2086
                                </p>
                            </div>
                            <div class="base-img base-img-220">
                                <img src="../assets/img/item-img.jpg" >
                                <p class="base-badge-text">
                                    <i class="icon-like-outline"></i>
                                    2086
                                </p>
                            </div>
                            <div class="base-img base-img-220">
                                <img src="../assets/img/item-img.jpg" >
                                <p class="base-badge-text">
                                    <i class="icon-like-outline"></i>
                                    2086
                                </p>
                            </div>
                            <div class="base-img base-img-220">
                                <img src="../assets/img/item-img.jpg" >
                                <p class="base-badge-text">
                                    <i class="icon-like-outline"></i>
                                    2086
                                </p>
                            </div>
                            <div class="base-img base-img-220">
                                <img src="../assets/img/item-img.jpg" >
                                <p class="base-badge-text">
                                    <i class="icon-like-outline"></i>
                                    2086
                                </p>
                            </div>
                            <div class="base-img base-img-220">
                                <img src="../assets/img/item-img.jpg" >
                                <p class="base-badge-text">
                                    <i class="icon-like-outline"></i>
                                    2086
                                </p>
                            </div>
                            <div class="base-img base-img-220">
                                <img src="../assets/img/item-img.jpg" >
                                <p class="base-badge-text">
                                    <i class="icon-like-outline"></i>
                                    2086
                                </p>
                            </div>
                            <div class="base-img base-img-220">
                                <img src="../assets/img/item-img.jpg" >
                                <p class="base-badge-text">
                                    <i class="icon-like-outline"></i>
                                    2086
                                </p>
                            </div>
                            <div class="base-img base-img-220">
                                <img src="../assets/img/item-img.jpg" >
                                <p class="base-badge-text">
                                    <i class="icon-like-outline"></i>
                                    2086
                                </p>
                            </div>
                            <div class="base-img base-img-220">
                                <img src="../assets/img/item-img.jpg" >
                                <p class="base-badge-text">
                                    <i class="icon-like-outline"></i>
                                    2086
                                </p>
                            </div>
                            <div class="base-img base-img-220">
                                <img src="../assets/img/item-img.jpg" >
                                <p class="base-badge-text">
                                    <i class="icon-like-outline"></i>
                                    2086
                                </p>
                            </div>
                            <div class="base-img base-img-220">
                                <img src="../assets/img/item-img.jpg" >
                                <p class="base-badge-text">
                                    <i class="icon-like-outline"></i>
                                    2086
                                </p>
                            </div>
                            <div class="base-img base-img-220">
                                <img src="../assets/img/item-img.jpg" >
                                <p class="base-badge-text">
                                    <i class="icon-like-outline"></i>
                                    2086
                                </p>
                            </div>
                            <div class="base-img base-img-220">
                                <img src="../assets/img/item-img.jpg" >
                                <p class="base-badge-text">
                                    <i class="icon-like-outline"></i>
                                    2086
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="tab-panel-item"></div>
                </div>
            </div>

        </div>

        <!-- 喂食层 -->
        <div class="base-flexbox showMask">
            <div class="base-flexbox-item2">
                <div class="showMask-left">
                    <span class="badge badge-warning base-margin-right12">
                        <img class="showMask-img" src="../assets/img/store3-food.png">
                    </span>
                    <div>
                        <p class="base-font-size24">奶油的粮食</p>
                        <div class="progress-bar" data-ydui-progressbar="{type: 'line', strokeWidth: 4, progress: .8, trailColor: '#FE5D51'}"></div>
                        <p class="base-font-size24">离下次免费投零食还有 00:10:20</p>
                    </div>
                </div>
            </div>
            <div class="showMask-right">
                <button class="btn mask-btn-top"></button>
                <button class="btn mask-btn-bottom"></button>
            </div>
        </div>

        <!-- 弹出层 -->
        <div class="showMask-Card">
            <div class="nsetAdd-content-box">
                <i class="icon-error showMask-Card-error"></i>
                <div class="base-flexbox-item">
                    <p class="data-title other-position">
                        龙猫
                        <img class="showMask-Card-img" src="../assets/img/pet9.png">
                        <span class="other-position-text">
                            你想对我做什么
                        </span>
                    </p>
                    <div class="base-flexbox base-margin-top20">
                        <div class="badge badge-primary">
                            <img class="nsetAdd-img" src="../assets/img/commune5.png">
                            未绝育
                        </div>
                        <p class="base-font-size26">&nbsp;&nbsp;0.14岁 摩羯座</p>
                    </div>
                    <div class="base-flexbox base-flexbox-column base-padding-top100">
                        <div class="base-flexbox base-margin-top20">
                            <img class="base-img-28" src="../assets/img/commune7.png">
                            <p class="base-font-size26">&nbsp;&nbsp;0.14岁 摩羯座</p>
                        </div>
                        <div class="base-flexbox base-margin-top20">
                            <img class="base-img-28" src="../assets/img/commune8.png">
                            <p class="base-font-size26">&nbsp;&nbsp;0.14岁 摩羯座</p>
                        </div>
                        <div class="base-flexbox base-margin-top20">
                            <img class="base-img-28" src="../assets/img/commune9.png">
                            <p class="base-font-size26">&nbsp;&nbsp;0.14岁 摩羯座</p>
                        </div>
                    </div>
                </div>
                <div class="base-relative">
                    <div class="base-img base-img-220">
                        <img class="radius" src="../assets/img/item-img.jpg">
                    </div>
                    <p class="base-font-size30 base-padding-top60">查看全部资料 ></p>
                    <span class="badge badge-warning base-margin-top20">公社卡号：750181</span>
                </div>
            </div>
        </div>

        <!-- 公用底部 -->
        <footer class="m-tabbar">
            <div class="base-flexbox base-width350 base-padding-left30">
                <div class="base-img base-img-80 base-margin-right12">
                    <img class="radius" src="../assets/img/nav.jpg">
                </div>
                <div>
                    <p class="show-title">
                        Young
                        <span><img src="../assets/img/pet8.png"></span>
                    </p>
                    <p class="show-text">有1张猫卡</p>
                </div>
            </div>
            <a href="index.html" class="tabbar-item">
                <span class="tabbar-icon">
                    <img src="../assets/img/tab-home-default.png">
                </span>
                <span class="tabbar-txt">首页</span>
            </a>
            <a href="community.html" class="tabbar-item">
                <span class="tabbar-icon">
                    <img src="../assets/img/tab-commune-default.png">
                </span>
                <span class="tabbar-txt">公社</span>
            </a>
            <a href="user.html" class="tabbar-item">
                <span class="tabbar-icon">
                    <img src="../assets/img/tab-mine-default.png">
                </span>
                <span class="tabbar-txt">我的</span>
            </a>
            <a href="shop.html" class="tabbar-item">
                <span class="tabbar-icon">
                    <img src="../assets/img/tab-share-default.png">
                </span>
                <span class="tabbar-txt">分享</span>
            </a>
        </footer>

    </section>

    <!-- ================================================================================== -->
    <!-- 引入jQuery 2.0+ -->
    <script src="../assets/js/jquery-2.1.4.min.js"></script>
    <!-- 引入YDUI脚本 -->
    <script src="../assets/js/ydui.js"></script>
    <!-- 自定义JS -->
    <script>
        var $tab = $('#J_Tab');

        $tab.tab({
            nav: '.tab-nav-item',
            panel: '.tab-panel-item',
            activeClass: 'tab-active'
        });

        $tab.find('.tab-nav-item').on('open.ydui.tab', function (e) {
            console.log('索引：%s - [%s]正在打开', e.index, $(this).text());
        });

        $tab.find('.tab-nav-item').on('opened.ydui.tab', function (e) {
            console.log('索引：%s - [%s]已经打开了', e.index, $(this).text());
        });
    </script>
</body>

</html>
