<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" name="viewport" />
	<meta content="yes" name="apple-mobile-web-app-capable" />
	<meta content="black" name="apple-mobile-web-app-status-bar-style" />
	<meta content="telephone=no" name="format-detection" />
	<!-- 引入YDUI样式 -->
    <link rel="stylesheet" href="../assets/css/ydui.css" />
    <link rel="stylesheet" href="../assets/css/base.css" />
    <!-- 引入YDUI自适应解决方案类库 -->
    <script src="../assets/js/ydui.flexible.js"></script>
	<title>ATGS</title>
</head>

<body>
	<section class="g-flexview">

		<header class="m-navbar">
			<a href="#" class="navbar-item">
				<i class="back-ico"></i>
			</a>
			<div class="navbar-center">
				<span class="navbar-title">商品详情</span>
			</div>
		</header>

		<div class="g-scrollview">

			<!-- 轮播图 -->
            <div class="m-slider base-img-750" data-ydui-slider="{autoplay: 3000}">
                <div class="slider-wrapper">
                    <div class="base-img slider-item">
                        <a class="base-img-750" href="#">
                            <img src="../assets/img/store2.png">
                        </a>
                    </div>
                    <div class="base-img slider-item">
                        <a class="base-img-750" href="#">
                            <img src="../assets/img/store2.png">
                        </a>
                    </div>
                    <div class="base-img slider-item">
                        <a class="base-img-750" href="#">
                            <img src="../assets/img/store2.png">
                        </a>
                    </div>
                </div>
                <div class="slider-pagination"></div>
                <!-- 分页标识 -->
            </div>

			<!-- 商品详情 -->
			<div class="base-flexbox base-padding30">
				<div class="base-flexbox-item">
					<h2 class="base-text-ellipsis2">天然奶糕 奶糕天然粮 10KG</h2>
					<div class="base-flexbox base-margin-top20">
                        <h2 class="base-font-size30 base-margin-right12 base-text-yellow">
                            &yen; 60.
                            <span class="base-font-size26 base-text-yellow">00</span>
                        </h2>
                    </div>
				</div>
			</div>

			<div class="m-cell base-margin-top20">
				<div class="cell-item base-padding30">
					<div class="cell-left base-text-yellow">|&nbsp;商品详情</div>
				</div>
				<div class="cell-item base-padding30">
					<div class="cell-left base-text-ellipsis4 base-white-normal">商品详情商品详情商品详情商品详情商品详情商品详情商品详情商品详情商品详情商品详情商品详情商品详情商品详情商品详情</div>
				</div>
			</div>

		</div>

		<!-- 按钮 -->
		<div class="base-padding30">
			<button type="submit" class="btn-block btn-warning radius88">
				兑换
			</button>
		</div>

	</section>

<!-- ================================================================================== -->
<!-- 引入jQuery 2.0+ -->
<script src="../assets/js/jquery-2.1.4.min.js"></script>
<!-- 引入YDUI脚本 -->
<script src="../assets/js/ydui.js"></script>
<!-- 自定义JS -->
</body>

</html>