<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" name="viewport" />
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="black" name="apple-mobile-web-app-status-bar-style" />
    <meta content="telephone=no" name="format-detection" />
    <!-- 引入YDUI样式 -->
    <link rel="stylesheet" href="../assets/css/ydui.css" />
    <link rel="stylesheet" href="../assets/css/base.css" />
    <!-- 引入YDUI自适应解决方案类库 -->
    <script src="../assets/js/ydui.flexible.js"></script>
    <title>ATGS</title>
</head>

<body>

    <section class="g-flexview">

        <!-- 公用头部 -->
        <header class="m-navbar">
            <a href="#" class="navbar-item"><i class="back-ico"></i></a>
            <div class="navbar-center">
                <span class="navbar-title">今日爱心宝贝</span>
            </div>
        </header>

        <!-- 视图 -->
        <div class="g-scrollview">
			<!-- 表头 -->
			<div class="m-cell">
				<div class="cell-item">
					<div class="cell-left">今日爱心宝贝</div>
					<div class="cell-right">今日收到粮食(克)</div>
				</div>
			</div>

			<!-- 列表 -->
			<div class="m-cell">
                <div class="cell-item base-padding30">
                    <a class="base-flexbox" href="#">
                        <div class="cell-left">
							<div class="base-img base-margin-right12 base-wh4050">
								<img src="../assets/img/home-first1.png">
							</div>
                            <div class="base-img base-img-110 base-margin-right12">
                                <img class="radius" src="../assets/img/nav.jpg">
                            </div>
                            <div>
                                <h2 class="base-font-size30">蓝莓</h2>
                                <p class="base-font-size26 base-margin-top20">英国短毛猫</p>
                            </div>
                        </div>
                        <div class="cell-right base-padding-right0">
							<p class="base-font-size30 base-text-yellow">999</p>
						</div>
                    </a>
				</div>
				<div class="cell-item base-padding30">
                    <a class="base-flexbox" href="#">
                        <div class="cell-left">
							<div class="base-img base-margin-right12 base-wh4050">
								<img src="../assets/img/home-first1.png">
							</div>
                            <div class="base-img base-img-110 base-margin-right12">
                                <img class="radius" src="../assets/img/nav.jpg">
                            </div>
                            <div>
                                <h2 class="base-font-size30">蓝莓</h2>
                                <p class="base-font-size26 base-margin-top20">英国短毛猫</p>
                            </div>
                        </div>
                        <div class="cell-right base-padding-right0">
							<p class="base-font-size30 base-text-yellow">999</p>
						</div>
                    </a>
				</div>
				<div class="cell-item base-padding30">
                    <a class="base-flexbox" href="#">
                        <div class="cell-left">
							<div class="base-img base-margin-right12 base-wh4050">
								<img src="../assets/img/home-first1.png">
							</div>
                            <div class="base-img base-img-110 base-margin-right12">
                                <img class="radius" src="../assets/img/nav.jpg">
                            </div>
                            <div>
                                <h2 class="base-font-size30">蓝莓</h2>
                                <p class="base-font-size26 base-margin-top20">英国短毛猫</p>
                            </div>
                        </div>
                        <div class="cell-right base-padding-right0">
							<p class="base-font-size30 base-text-yellow">999</p>
						</div>
                    </a>
				</div>
				<div class="cell-item base-padding30">
                    <a class="base-flexbox" href="#">
                        <div class="cell-left">
							<div class="base-img base-margin-right12 base-wh4050">
								<img src="../assets/img/home-first1.png">
							</div>
                            <div class="base-img base-img-110 base-margin-right12">
                                <img class="radius" src="../assets/img/nav.jpg">
                            </div>
                            <div>
                                <h2 class="base-font-size30">蓝莓</h2>
                                <p class="base-font-size26 base-margin-top20">英国短毛猫</p>
                            </div>
                        </div>
                        <div class="cell-right base-padding-right0">
							<p class="base-font-size30 base-text-yellow">999</p>
						</div>
                    </a>
				</div>
				<div class="cell-item base-padding30">
                    <a class="base-flexbox" href="#">
                        <div class="cell-left">
							<div class="base-img base-margin-right12 base-wh4050">
								<img src="../assets/img/home-first1.png">
							</div>
                            <div class="base-img base-img-110 base-margin-right12">
                                <img class="radius" src="../assets/img/nav.jpg">
                            </div>
                            <div>
                                <h2 class="base-font-size30">蓝莓</h2>
                                <p class="base-font-size26 base-margin-top20">英国短毛猫</p>
                            </div>
                        </div>
                        <div class="cell-right base-padding-right0">
							<p class="base-font-size30 base-text-yellow">999</p>
						</div>
                    </a>
				</div>
            </div>

		</div>
		
    </section>

    <!-- ================================================================================== -->
    <!-- 引入jQuery 2.0+ -->
    <script src="../assets/js/jquery-2.1.4.min.js"></script>
    <!-- 引入YDUI脚本 -->
    <script src="../assets/js/ydui.js"></script>
    <!-- 自定义JS -->
</body>

</html>